header {
    height: 175px;
    
    background: #ffffff url("scratched.jpg") repeat repeat;
    opacity: 0.9;
    width: 100%;
    box-shadow: inset 0px 15px 20px #888888;
    .header-content {
        position: relative;
        bottom: @baseline;
        font-size: @baseline*1.5;
    }
}
.main-nav {
    position: relative;
    padding: @baseline*1.5 0;
    ul {
        z-index: 1000;
        position: relative;
        list-style-type: none;
        background-color: @fancyorange;
        width: 70%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 5px auto 0px auto;
        box-shadow: 0px 10px 50px @fancydarkblue;
        height: 150px;
        li {
            cursor: pointer;
            margin-top: 40px;
            display: inline-block;
            height: auto;
            width: auto;
            text-align: center;
            float: right;
            margin-right: 27px;
            &:hover {
                background-color: transparent;
            }
            a {
                position: relative;
                color: black;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: @baseline*0.7;
                text-transform: uppercase;
                &:hover {
                    color: black;
                }
            }
        }
    }
}
.header-content {
    marign-right: 50%;
}
.shadow {
    position: absolute;
    top: 148px;
    left: 0px;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    border-bottom: solid 2px black;
    background-color: @fancyorange;
    opacity: 0.3;
}
