body{

	border-top: solid 4px @fancygrey;
	
	
	 background:@fancydarkblue;
}

header{

	
	
	height: 175px;
	padding-left: 40px;
	background:#ffffff url("scratched.jpg") repeat repeat;
	opacity:0.9;


	width:100%;
	.header-content{

	
position: relative;
bottom: @baseline;

	font-size: @baseline*1.5;
	img{
		position: absolute;

		width: 150px;
		height: 150px;

		top:40px;
		left:10px;


		float:left;


	}
	


	

	
}
}

.main-container{
	position: relative;

    display: block;
	width:1200px;
	height:2000px;
	margin:140px auto;

	


	
	





}





