/* Section styling */

@import "variables.less";


.side-section{
position: relative;
border: solid 4px black;

height: 400px;
width: 380px;


background-color: @fancyorange;
opacity: 0.4;
margin-left: 15px;

margin-bottom: @baseline*1.5;





}

.sidr-left-link{

	border: solid 4px grey;
	padding: 5px;
	border-radius: 10px;

	opacity: 0.8;
	 font-weight: bold;
	 position: fixed;
	 

	 a{


	
	 &:hover{

	 }
	
	}


	
}
	







