/* Section styling */

@import "variables.less";

.side-section {
    position: relative;
    border: solid 4px black;
    z-index: 0;
    height: auto;
    width: 640px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index:100;
        &:hover{
        	opacity: 0.0;
        }
    }
        h1 {
        	color:@fancygreen;

        	text-align: center;
            position: relative;
            margin: 100px auto 100px auto;
            font-size: 58px;
            font-weight: 700;

            
        }
    
    background: #ffffff url("scratched.jpg") repeat repeat;
    opacity: 0.8;
    margin-left: @baseline;
    margin-top: @baseline;
    margin-bottom: @baseline*7;
}
.sidr-left-link {

    border: solid 4px @fancyorange;
    padding: 5px;
    border-radius: 10px;
    background-color: @fancyorange;
    color: black;
    opacity: 0.8;
    font-weight: bold;
    position: fixed;
    visibility: hidden;
    .inset-shadow {
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }
}
.text-section {
    position: relative;
    z-index: 0;
    width: auto;
    margin-bottom: @baseline;
}
