


	.sub-container-1{


		position: relative;
		
	
	background-color: @darkpurple;


	width: 100%;
	height: 100%;

	
	article{


color: @lightpurple;
	
	margin: 0px auto;
	padding: 0px 5px;
	width: auto;
	margin-bottom: @baseline*6;
	overflow: auto;




	}
	.pattern{
		position: relative;
		background: #ffffff url(checkered.jpg) repeat repeat;
		height: 300px;
		width: 100%;
		margin-bottom: @baseline*2;
	}



}
.portrait{
	position: relative;
	margin: 0px auto;
	width: 200px;
	height: 200px;
	
	img{
		position: relative;
		border-radius: 100px;
		width: 100%;
		height: 100%;

	}

}

.sub-container-2{


		position: relative;
		
	
	background-color: @fancygreen;
overflow: hidden;

	width: 100%;
	margin-top:0px;
	height: auto;

	

	.paper{
		position: relative;
		background: #ffffff url(paper.jpg) repeat repeat;
		opacity: 0.9;
		height: 300px;
		width: 100%;
		margin-bottom: @baseline*2;
		box-shadow: 0px 25px 80px @fancydarkblue;
	}


	.side-section {
    position: relative;
    border: solid 4px black;
    height: 280px;
    width: 280px;
   
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index:100;
        &:hover{
        	opacity: 0.0;
        }
    }
        h1 {
        	color:@fancygreen;

        	text-align: center;
            position: relative;
            margin: 100px auto 100px auto;
            font-size: 58px;
            font-weight: 700;

            
        }
    
    background: #ffffff url("scratched.jpg") repeat repeat;
    opacity: 0.8;
    margin-right: @baseline*2;
    margin-top: @baseline/2;
    margin-bottom: @baseline*0.5;
}





}
