


	.sub-container-1{


		position: relative;
		
	
	background-color: @darkpurple;


	width: 100%;
	height: 100%;

	
	article{


color: @lightpurple;
	
	margin: 0px auto;
	width: 1000px;
	margin-bottom: @baseline*6;




	}
	.pattern{
		position: relative;
		background: #ffffff url(checkered.jpg) repeat repeat;
		height: 300px;
		width: 100%;
		margin-bottom: @baseline*2;
	}



}
.portrait{
	position: relative;
	margin: 0px auto;
	width: 200px;
	height: 200px;
	
	img{
		position: relative;
		border-radius: 100px;
		width: 100%;
		height: 100%;

	}

}

.sub-container-2{


		position: relative;
		
	
	background-color: @fancygreen;


	width: 100%;
	margin-top:0px;
	height: 1200px;





}
