/* Typography variables*/

@import "variables.less";

body {

	color: @fancygreen;
	font: @body-font-size~"/"@baseline @body-font;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 @baseline;
}