/* Typography variables*/

@import "variables.less";

body {

	color: @fancygreen;
	font: @body-font-size~"/"@baseline @body-font;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 @baseline;
}


article{
	color:@fancywhite;
	text-align: center;


	h1{

		font-size: 78px;
		font-weight: 700;
	}

	h3{

		font-size: 38px;
		font-weight: 300;
		font-style: italic;


	}

	
	p{
		text-align: left;
		margin-left: 60px;
	font-size: 28px;
	line-height: 1.75em;
}
}