/* Typography variables*/

@import "variables.less";

body {
    color: @fancygreen;
    font: @body-font-size~"/"@baseline @body-font;
    -webkit-font-smoothing: antialiased;
}
p {
    margin: 0 0 @baseline;
}
ul {
   font-size: 100px;
   i{
   	position: relative;
   	margin: 40px auto;
   	color: black;

   }
}
article, .price-ul {
    position: relative;
    color: @fancywhite;
    text-align: center;
    height: auto;

    margin-bottom: @baseline*7;
    h1 {
        font-size: 78px;
        font-weight: 700;
    }
    li h3{
      font-style: normal;
      font-size: 29px;
      text-align: left;
      a{
        
        color: @fancyorange;
        &:hover{
          text-decoration: underline;

        }
      }

    }
    h3 {
        font-size: 38px;
        font-weight: 300;
        font-style: italic;
    }
  
    p {
        text-align: left;
        margin-left: 60px;
        font-size: 28px;
        line-height: 1.75em;
    }
}
