/* Main stylesheet */
/* Load Variables */
/* Colors */
/* Load typography styles */
/* Typography variables*/
body {
  color: #097054;
  font: 18px / 27px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0 0 27px;
}
ul {
  font-size: 100px;
}
ul i {
  position: relative;
  margin: 40px auto;
  color: black;
}
article {
  position: relative;
  color: #eeeee7;
  text-align: center;
  margin-bottom: 189px;
}
article h1 {
  font-size: 78px;
  font-weight: 700;
}
article h3 {
  font-size: 38px;
  font-weight: 300;
  font-style: italic;
}
article p {
  text-align: left;
  margin-left: 60px;
  font-size: 28px;
  line-height: 1.75em;
}
/* Load section styles */
/* Section styling */
.side-section {
  position: relative;
  border: solid 4px black;
  z-index: 0;
  height: auto;
  width: 640px;
  background: #ffffff url("scratched.jpg") repeat repeat;
  opacity: 0.8;
  margin-left: 27px;
  margin-top: 27px;
  margin-bottom: 189px;
}
.side-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.side-section img:hover {
  opacity: 0.0;
}
.side-section h1 {
  color: #097054;
  text-align: center;
  position: relative;
  margin: 100px auto 100px auto;
  font-size: 58px;
  font-weight: 700;
}
.sidr-left-link {
  border: solid 4px #ff9900;
  padding: 5px;
  border-radius: 10px;
  background-color: #ff9900;
  color: black;
  opacity: 0.8;
  font-weight: bold;
  position: fixed;
  visibility: hidden;
}
.sidr-left-link .inset-shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.text-section {
  position: relative;
  z-index: 0;
  width: 1000px;
  margin-bottom: 27px;
}
/* Load header styles */
header {
  height: 175px;
  z-index: 1000;
  position: relative;
  background: #ffffff url("scratched.jpg") repeat repeat;
  opacity: 0.9;
  width: 100%;
  box-shadow: inset 0px 15px 20px #888888;
}
.main-nav {
  z-index: 1000;
  padding: 40.5px 0;
}
.main-nav ul {
  position: relative;
  list-style-type: none;
  background-color: #ff9900;
  width: 70%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 5px auto 0px auto;
  box-shadow: 0px 10px 50px #242e35;
  height: 150px;
}
.main-nav ul li {
  cursor: pointer;
  margin-top: 40px;
  display: inline-block;
  height: auto;
  width: auto;
  text-align: center;
  float: right;
  margin-right: 27px;
}
.main-nav ul li:hover {
  background-color: transparent;
}
.main-nav ul li a {
  position: relative;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 18.9px;
  text-transform: uppercase;
}
.main-nav ul li a:hover {
  color: black;
}
.header-content {
  marign-right: 50%;
}
.shadow {
  position: absolute;
  top: 148px;
  left: 0px;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  border-bottom: solid 2px black;
  background-color: #ff9900;
  opacity: 0.3;
}
/* Load maincontent styles */
body {
  background: #6599ff;
}
.main-container {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  height: auto;
  margin: 140px auto;
  overflow: hidden;
}
/* Load maincontent styles */
/* Load responsive rules  */
@media (max-width: 1700px) {
  .text-section {
    position: relative;
    width: auto;
  }
  .text-section article {
    width: 500px;
    margin-bottom: 27px;
  }
  .text-section article h1 {
    font-size: 62.4px;
  }
  .text-section article h3 {
    font-size: 30.4px;
  }
  .text-section article p {
    text-align: left;
    margin-left: 60px;
    font-size: 22.4px;
    line-height: 1.75em;
  }
  .side-section {
    margin-left: 27px;
    margin-bottom: 0px;
  }
}
@media (max-width: 1510px) {
  .main-nav {
    padding: 0;
  }
  .main-nav ul {
    position: fixed;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0px;
    height: 65px;
  }
  .main-nav ul i {
    margin-top: 3px;
  }
  .main-nav ul li {
    margin-top: 0px;
  }
  .main-nav .shadow {
    visibility: hidden;
  }
}
@media (max-width: 1214px) {
  .side-section {
    width: 384px;
    height: 255px;
  }
  .side-section h1 {
    visibility: hidden;
  }
}
@media (max-width: 1028px) {
  i {
    visibility: hidden;
    width: 0px;
  }
  li {
    margin: 0px auto;
  }
}
@media (max-width: 858px) {
  article {
    margin-top: 27px;
    height: 100px;
  }
  article p {
    visibility: hidden;
  }
}
.sub-container-1 {
  position: relative;
  background-color: #6f5ca3;
  width: 100%;
  height: 100%;
}
.sub-container-1 article {
  color: #d9cdf6;
  margin: 0px auto;
  width: 1000px;
  margin-bottom: 162px;
}
.sub-container-1 .pattern {
  position: relative;
  background: #ffffff url(checkered.jpg) repeat repeat;
  height: 300px;
  width: 100%;
  margin-bottom: 54px;
}
.portrait {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}
.portrait img {
  position: relative;
  border-radius: 100px;
  width: 100%;
  height: 100%;
}
.sub-container-2 {
  position: relative;
  background-color: #097054;
  width: 100%;
  margin-top: 0px;
  height: 1400px;
}
.sub-container-2 .paper {
  position: relative;
  background: #ffffff url(paper.jpg) repeat repeat;
  opacity: 0.9;
  height: 300px;
  width: 100%;
  margin-bottom: 54px;
  box-shadow: 0px 25px 80px #242e35;
}
.sub-container-2 .side-section {
  position: relative;
  border: solid 4px black;
  height: 280px;
  width: 280px;
  background: #ffffff url("scratched.jpg") repeat repeat;
  opacity: 0.8;
  margin-left: 54px;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
}
.sub-container-2 .side-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.sub-container-2 .side-section img:hover {
  opacity: 0.0;
}
.sub-container-2 .side-section h1 {
  color: #097054;
  text-align: center;
  position: relative;
  margin: 100px auto 100px auto;
  font-size: 58px;
  font-weight: 700;
}
