/* Main stylesheet */
/* Load Variables */
/* Colors */
/* Load typography styles */
/* Typography variables*/
body {
  color: #097054;
  font: 18px / 27px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0 0 27px;
}
article {
  color: #eeeee7;
  text-align: center;
}
article h1 {
  font-size: 78px;
  font-weight: 700;
}
article h3 {
  font-size: 38px;
  font-weight: 300;
  font-style: italic;
}
article p {
  text-align: left;
  margin-left: 60px;
  font-size: 28px;
  line-height: 1.75em;
}
/* Load section styles */
/* Section styling */
.side-section {
  position: relative;
  border: solid 4px black;
  height: 400px;
  width: 380px;
  background: #ffffff url("scratched.jpg") repeat repeat;
  opacity: 0.8;
  margin-left: 15px;
  margin-bottom: 40.5px;
}
.side-section img {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.sidr-left-link {
  border: solid 4px #ff9900;
  padding: 5px;
  border-radius: 10px;
  background-color: #ff9900;
  color: black;
  opacity: 0.8;
  font-weight: bold;
  position: fixed;
  visibility: hidden;
}
.sidr-left-link .inset-shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
/* Load header styles */
.main-nav {
  position: relative;
  padding: 40.5px 0;
}
.main-nav ul {
  position: relative;
  list-style-type: none;
  background-color: #ff9900;
  width: 70%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 5px auto 0px auto;
  box-shadow: 0px 10px 50px #242e35;
  height: 150px;
  line-height: -10px;
}
.main-nav ul span {
  font-weight: bold;
  font-size: 23px;
  color: black;
  float: right;
}
.main-nav ul li {
  cursor: pointer;
  margin-top: 80px;
  display: inline-block;
  height: auto;
  width: auto;
  text-align: center;
  float: right;
  margin-right: 27px;
}
.main-nav ul li:hover {
  background-color: transparent;
}
.main-nav ul li a {
  position: relative;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 18.9px;
  text-transform: uppercase;
}
.main-nav ul li a:hover {
  color: black;
}
.header-content {
  marign-right: 50%;
}
.shadow {
  position: absolute;
  top: 148px;
  left: 0px;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  border-bottom: solid 2px black;
  background-color: #ff9900;
  opacity: 0.3;
}
/* Load maincontent styles */
body {
  background: #6599ff;
}
header {
  height: 175px;
  padding-left: 40px;
  background: #ffffff url("scratched.jpg") repeat repeat;
  opacity: 0.9;
  width: 100%;
  box-shadow: inset 0px 15px 20px #888888;
}
header .header-content {
  position: relative;
  bottom: 27px;
  font-size: 40.5px;
}
header .header-content img {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 40px;
  left: 10px;
  float: left;
}
.main-container {
  position: relative;
  display: block;
  width: 100%;
  height: 800px;
  margin: 140px auto;
}
/* Load maincontent styles */
/* Load responsive rules  */
.sub-container-1 {
  position: relative;
  background-color: #6f5ca3;
  width: 100%;
  height: 1200px;
}
.sub-container-2 {
  position: relative;
  background-color: #097054;
  width: 100%;
  height: 1200px;
}
