/* Colors */
@body-font-size:18px;
@baseline: (@body-font-size*1.5);
@theme-margin: (@baseline*3);

@heading-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@body-font:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


